body {
    overflow: hidden;
}

#main {
    transform: scale(7,7);
    /* transform: scale(7,-7) rotate(-28deg); */
    position: absolute;
    left: 500px;
    top: 400px;
    overflow: hidden;
}

object {
    width: 80px;
    height: 110px;
}